body{
    background: #2f3542;
    font-family: Georgia;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    line-height: 1.3em;
    color: white;
    text-align: center;
}

h4{
    font-size: 1.2rem;
    line-height: 1.3em;
    color: white;
    text-align: center;
}


p{
    margin-bottom: 1.6em;
    color: white;
    text-align: justify;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color: white;
    text-decoration: none;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem  1rem;
    transition: all 0.4s linear;
    border-radius: 5px;

}

.navigation ul li a:hover{
    background: #4a4a4a;
}

main{
    padding: 12rem;
}

.galeria{
    justify-content: center;
}